<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <!-- <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">Login</h3>
                </div> -->
                <div class="card-body">
                  <div class="card-body">
                    <form>
                      <h1>Forgot Password</h1>
                      <hr/>
                      <p class="text-muted"></p>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="icon-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" autocomplete="username" required>
                      </div>
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text">@</span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email" autocomplete="Email"
                          required>
                      </div>
                      <button type="button" class="btn btn-danger"> Cancel </button>
                        <button type="button" class="btn btn-success pull-right"> Forgot Password </button>

                    </form>
                  </div>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a href="">Have an account? Go to login</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  
    <app-footer></app-footer>
  
  </div>
  