<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <!-- <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">Login</h3>
                </div> -->
                <div class="card-body">
                  <div class="card-body">
                    <form #ChangePassForm="ngForm" (ngSubmit)="onSubmit(ChangePassForm)">
                        <h1>Change Password</h1>
                        <hr/>
                        <div class="form-group">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input type="password" id="oldPassword" name="oldPassword" ngModel #oldPassword="ngModel" required
                              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}$"
                              placeholder="Old Password" autocomplete="Old Password"
                              class="form-control" placeholder="Old Password" autocomplete="current-password">
                          </div>
                          
                          <span class="help-block" *ngIf="!oldPassword.valid && oldPassword.touched  && oldPassword.errors?.required">
                            Please enter Old Password.
                          </span>
                          <span class="help-block" *ngIf="!oldPassword.valid && oldPassword.errors?.pattern">
                            A minimum 8 characters password contains a combination of <strong>uppercase and lowercase
                              letter</strong> and <strong>number</strong> and <strong>spcial character </strong>.
                          </span>
                        </div>

                        <div class="form-group">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input type="password" id="newPassword" name="newPassword" ngModel #newPassword="ngModel" required
                              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}$"
                              placeholder="Password" autocomplete="new-password" 
                              class="form-control" placeholder="New Password" autocomplete="current-password">
                          </div>
                          
                          <span class="help-block" *ngIf="!newPassword.valid && newPassword.touched  && newPassword.errors?.required">
                            Please enter New Password.
                          </span>
                          <span class="help-block" *ngIf="!newPassword.valid && newPassword.errors?.pattern">
                            A minimum 8 characters password contains a combination of <strong>uppercase and lowercase
                              letter</strong> and <strong>number</strong> and <strong>spcial character </strong>.
                          </span>
                        </div>

                        <div class="form-group">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input type="password" id="repeatPassword" name="repeatPassword" ngModel #repeatPassword="ngModel" required
                              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}$"
                              placeholder="Password" autocomplete="new-password" validateEqual="newPassword"
                              class="form-control" placeholder="Repeat password" autocomplete="current-password">
                          </div>
                          
                          <span class="help-block" *ngIf="!repeatPassword.valid && repeatPassword.touched  && repeatPassword.errors?.required">
                            Please enter Repeat Password.
                          </span>
                          <span class="help-block" *ngIf="!repeatPassword.valid && repeatPassword.errors?.validateEqual">
                            Password mismatch.
                          </span>
                        </div>
                        
                        <button type="button" class="btn btn-danger "> Cancel </button>
                        <button type="submit"  [disabled]="!ChangePassForm.valid"  class="btn btn-success  pull-right"> Change Password </button>
                        
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  
    <app-footer></app-footer>
  
  </div>
  